###=============================================================================
### ^ ctrl   ! alt   + shift   # WindowsKey
### Shortcut must have the modifier keys in this order ctrl, alt, shift, win
### So ^!a is valid but not !^a
### The text after the semicolon is the program to be executed when the key
### key combination is triggered
###=============================================================================
### reload app
!+F1:504
### store debug data (when logInput=1 && logStickyKeys in settings)
!+F3:509
###right mouse button scroll
rbutton:501
################## ctrlClick altClick shiftClick emulate for keys which require continuous press
!tab:506
!+tab:506
^tab:507
^+tab:507
#tab:508
+#tab:508
################## function keys {1-12}
#y:511
#u:512
#i:513
#o:514
#h:515
#j:516
#k:517
#l:518
#n:519
#m:520
#,:521
#.:522
^#y:511
^#u:512
^#i:513
^#o:514
^#h:515
^#j:516
^#k:517
^#l:518
^#n:519
^#m:520
^#,:521
^#.:522
^!#y:511
^!#u:512
^!#i:513
^!#o:514
^!#h:515
^!#j:516
^!#k:517
^!#l:518
^!#n:519
^!#m:520
^!#,:521
^!#.:522
^+#y:511
^+#u:512
^+#i:513
^+#o:514
^+#h:515
^+#j:516
^+#k:517
^+#l:518
^+#n:519
^+#m:520
^+#,:521
^+#.:522
^!+#y:511
^!+#u:512
^!+#i:513
^!+#o:514
^!+#h:515
^!+#j:516
^!+#k:517
^!+#l:518
^!+#n:519
^!+#m:520
^!+#,:521
^!+#.:522
+#y:511
+#u:512
+#i:513
+#o:514
+#h:515
+#j:516
+#k:517
+#l:518
+#n:519
+#m:520
+#,:521
+#.:522
!#y:511
!#u:512
!#i:513
!#o:514
!#h:515
!#j:516
!#k:517
!#l:518
!#n:519
!#m:520
!#,:521
!#.:522
!+#y:511
!+#u:512
!+#i:513
!+#o:514
!+#h:515
!+#j:516
!+#k:517
!+#l:518
!+#n:519
!+#m:520
!+#,:521
!+#.:522
