layoutChangeKey:space
###=============================================================================
### When the change keyboard layout key is pressed how to remap the keyboard
### For example r:q => when the special key is pressed, pressing r actually 
### means pressing the left q key. 
### If remapping modifier key (ctrl/alt/shift/lwin) the layout change key does 
### not need to be pressed.
###=============================================================================
escape:escape
F1:F5
F2:F6
F3:F7
F4:F8
F5:F5
F6:F6
F7:F7
F8:F8
F9:F9
F10:F10
F11:F11
F12:F12
F12:F12
home:home
end:end
insert:insert
delete:delete
`:`
1:1
2:2
3:3
4:4
5:5
6:6
7:7
8:8
9:9
0:0
-:-
=:=
backspace:backspace
tab:tab
capslock:capslock
q:escape
w:tab
e:enter
r:backspace
t:insert
y:1
u:2
i:3
o:-
p:p
[:[
]:]
\:`
a:left
s:down
d:up
f:right
g:delete
h:4
j:5
k:6
l:=
;:;
':;
enter:enter
z:[
x:home
c:end
v:]
b:/
n:7
m:8
,:9
.:0
/:/
space:space
pgup:pgup
pgdn:pgdn
left:left
down:down
right:right
up:up
appskey:appskey
printscreen:printscreen
shiftClick:shiftClick
ctrlRClick:ctrlClick