layoutChangeKey:space
###=============================================================================
### When the change keyboard layout key is pressed how to remap the keyboard
### For example r:q => when the special key is pressed, pressing r actually 
### means pressing the left q key. 
### If remapping modifier key (ctrl/alt/shift/lwin) the layout change key does 
### not need to be pressed.
###=============================================================================
escape:escape
F1:F4
F2:F5
F3:F6
F4:F4
F5:F5
F6:F6
F7:F10
F8:F11
F9:F12
F10:F10
F11:F11
F12:F12
F12:F12
home:home
end:end
insert:`
delete:delete
`:`
1:1
2:2
3:3
4:4
5:5
6:6
7:7
8:8
9:9
0:0
-:-
=:=
backspace:backspace
tab:tab
capslock:capslock
q:9
w:0
e:-
r:=
t:\
y:escape
u:backspace
i:enter
o:tab
p:p
[:[
]:]
\:\
a:5
s:6
d:7
f:8
g:/
h:left
j:down
k:up
l:right
;:;
':;
enter:enter
z:1
x:2
c:3
v:4
b:delete
n:home
m:end
,:[
.:]
/:/
space:space
pgup:pgup
pgdn:pgdn
left:left
down:down
right:right
up:up
appskey:appskey
printscreen:printscreen
shiftClick:shiftClick
ctrlRClick:ctrlClick