layoutChangeKey:space
###=============================================================================
### When the change keyboard layout key is pressed how to remap the keyboard
### For example r:q => when the special key is pressed, pressing r actually 
### means pressing the left q key. 
### If remapping modifier key (ctrl/alt/shift/lwin) the layout change key does 
### not need to be pressed.
###=============================================================================
escape:4
F1:F7
F2:F8
F3:F9
F4:F10
F5:F11
F6:F12
F7:F7
F8:F8
F9:F9
F10:F10
F11:F11
F12:F12
F12:F12
home:home
end:end
insert:1
delete:5
`:`
1:1
2:2
3:3
4:4
5:5
6:6
7:7
8:8
9:9
0:0
-:-
=:=
backspace:3
tab:1
q:6
w:7
e:8
r:9
t:0
y:y
u:u
i:i
o:o
p:p
[:[
]:]
\:\
a:left
s:down
d:up
f:right
g:g
h:h
j:j
k:k
l:l
;:;
':'
enter:2
z:z
x:home
c:end
v:v
b:b
n:n
m:m
,:-
.:=
/:\
space:space
pgup:pgup
pgdn:pgdn
left:left
down:down
right:right
up:up
appskey:appskey
printscreen:printscreen
capslock:capslock